---
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
import Whatsapp from './icons/Whatsapp.astro'
import '../utils/animation.css'
import { getLangFromUrl, useTranslations } from '../i18n/utils.js';
import Vk from './icons/Vk.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const elementos = t('hero');


---
<section class="h-screen grid place-items-center bg-no-repeat bg-cover bg-center relative"
    style="background-image: url(/images/Car.jpg)">

    <div class="absolute inset-0 bg-gray-800 bg-opacity-60"></div>

    <div class="xl:w-[55%] lg:w-[60%] px-8 sm:px-16 md:px-20 lg:px-24 scale-100 relative z-10">
        <div class="grid grid-cols-1 gap-8">
            <div class="flex flex-col items-center justify-center h-full space-y-5">
                <h1 class="text-5xl md:text-6xl font-bold text-center text-white revealHero !opacity-100">
                    {elementos.h1}
                    <span>{elementos.span}</span> 
                    {elementos.h12}
                </h1>
                <p class="mt-5 text-lg md:text-xl text-gray-200 text-center leading-snug revealHero !opacity-100">
                    {elementos.p}
                </p>
                
                <div class="flex gap-6 mt-6">
                    <a href="https://api.whatsapp.com/send?phone=5354560600" target="_blank">
                        <button class="bg-gradient-to-br from-emerald-600 to-teal-600 hover:from-emerald-700 hover:to-teal-700 px-10 py-3 text-base md:text-lg rounded-lg text-white font-medium transition-all duration-300 shadow-md hover:shadow-lg">
                            {elementos.button}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>





